/*--@import url('https://fonts.adobe.com/search?query=Brandon+Grotesque'); 
@import url('https://fonts.google.com/?query=fredoka&sort=popularity');--*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Brandon Grotesque';
}
#wrapper{
    width: 100%;
}
#content-maintain{
    max-width: 1320px;
    height: auto;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 800px;
    background-color: #f5f5f5;

}
nav{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 3;
}
.mobile-menu{
    flex: 10%;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

nav h1{
    flex-basis: 80%;
}
nav ul{
    display: none;
}
.atf-btn{
    display: none;
}
#atf{
    width: 100%;
    height: 100%;
}
.atf-content-text{
    padding: 6em 1.5em;
    width: 100%;
}
.new-label{
    padding: 2px 8px;
    background: #F3B82A;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Fredoka One';
    letter-spacing: 5px;
}
.feartured-product-name{
    font-family: 'Fredoka One';
    font-size: 40px;
    font-weight: 500;
}
.burger-size span:nth-child(1){
    font-family: 'Brandon Grotesque';
    font-weight: 600;
}
.burger-size span:nth-child(2), .burger-size span:nth-child(3), .burger-size span:nth-child(4){
    font-family: 'Brandon Grotesque' ;
    font-weight: 600;
    padding: .3em 1em;
    font-size: 10px;
    border-radius: 5px;
}
.burger-size span:nth-child(2){
    background: #F3B82A;
    margin-left: 10px;
}
.burger-size span:nth-child(3){
    background: #F59A54;
}
.burger-size span:nth-child(4){
    background: #F36F2A;
}
.atf-content p{
    font-family: 'Brandon Grotesque' ;
    line-height: 1.2;
    font-size: 15px;
    margin: 1.5em 0;
}
.user-action{
    display: flex;
    align-items: center;
}
.user-action button{
    padding: .3em 1em;
    border: 5px solid #A1BF20;
    background: #A1BF2D;
    font-weight: 700;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.user-action button:hover{
    background: none;
    color: #A1BF2D;
}
.user-action div{
    margin: 10px;
}
.user-action div P:first-child{
    font-family: 'Fredoka One';
    font-weight: 600;
}
.user-action div p:last-child{
    font-family: 'Brandon Grotesque';
    font-size: 12px;
}
.atf-note{
    display: block;
    margin-top: 3em;
}
.atf-content-image{
    display: none;
}
#hot-section{
    width: 70%;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
}
.hot-section-content{
    width: 100%;
    background: white;
    padding: .5em 1em 1.5em 1em;
    border-radius: 20px;
    grid-column: 2/12;
    text-align: center;
    box-shadow: 0.5px 10px black;
}
.hot-section-title{
    position: relative;
    top: -20px;
    background: #F3B82A;
    font-weight: 500;
    padding: .2em 2em;
    border-radius: 20px;
}
.hot-section-menu{
    list-style: none;
}
.hot-section-menu li{
    width: 70%;
    height: 120px;
    background: yellow;
    border-radius: 20px;
    box-shadow: 0 5px 10px gray;
    overflow: hidden;
    margin: 15px auto;
}
.hot-section-menu li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hide-hot-menu-item{
    display: none;
}
.temporary-hot-menu-background{
    background: #F3B82A;
    height: 300px;
}
#fast-delivery{
    width: 100%;
    background: #F0EDE9;
}
#fast-delivery >div{
    background: #F0FDE9;
}
.fast-delivery-image-wrapper{
    width: 80%;
    height: 100%;
}
.fast-delivery-image-wrapper img{
    width:80%;
}
.fast-delivery-text-content{
    width: 100%;
    padding: 1.5em;
    background: #F5F5F5;
}
.fast-delivery-text-content *:not(:first-child){
    margin-top: 10px;
}
.fast-delivery-text-content h2{
    font-size: 2em;
    font-weight: 500;
}
.fast-delivery-text-content button{
    padding: .3em 1em;
    border: 5px solid #A1BF2D;
    background: #A1BF2D;
    font-weight: 700;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
}
.fast-delivery-text-content button:hover{
    background: none;
    color: #A1BF2D;
}
.oderk-menu{
    width: 100%;
}
.oderk-menu > div{
    padding: 2.5em 1.5em 0.7em 0.7em;    
}
.oderk-menu h3{
    font-weight: 500;
    font-size: 27px;
}
.oderk-menu-calories{
    font-family: 'Brandon Grotesque';
}
.oderk-menu-price{
    font-family: 'Fredoka One';
    font-weight: 500;
    font-size: 20px;
}
.oderk-menu button{
    padding: .3em 1em;
    border: 5px solid #A1BF2D;
    background: #A1BF2D;
    font-weight: 700;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
}
.oderk-menu button:hover{
    background: none;
    color: black;
    border: 5px solid #A1BF2D;
}
/*---menu 1 ---*/
.menu-item-1{
    background: #FFEA61;
    text-align: center;
}
.menu-item-1-image{
    width: 100%;
}
.menu-item-1-image img{
    width: 100%;
}
.menu-item-1-content{
    text-align: center;    
}
.menu-1-item-container *{
    margin: 3px 0 3px 0;
}
/*--- menu 2 ---*/
.menu-item-2{
    background: #F3B82A;
}
.menu-item-2-image{
    width: 100%;
    padding-left: 1em;
    padding-bottom: 1em;
}
.menu-item-2-image img{
    width: 100%;
}
.menu-item-2-content{
    text-align: center;
}
.menu-item-2-content *{
    margin: 3px 0 epx 0;
}
/*--- menu 3 ---*/
.menu-item-3{
    background: #c6d736;
}
.menu-item-3-image{
    width: 80%;
    margin: 0 auto;
    padding-left: 1em;
    padding-bottom: 1em;
}
.menu-item-3-image img{
    width: 100%;    
}
.menu-item-3-content{
    text-align: center;
}
.menu-item-3-content *{
    margin: 3px 0 3px 0;
}
/*--- menu 4 ---*/
.menu-item-4{
    background: #FFDD3C;
}
.menu-item-4-image{
    width: 50%;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
}
.menu-item-4-image{
    width: 100%;    
}
.menu-item-4-content{
    text-align: center;
}
.menu-item-4-content {
    margin: 3px 0 3px 0;
}
/*--- menu 5 ---*/
.menu-item-5{
    background: #B9C763;
}
.menu-item-5-image{
    width: 70%;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
}
.menu-item-5-image img{
    width: 100%;
}
.menu-item-5-content{
    text-align: center;
}
.menu-item-5-content *{
    margin: 3px 0 3px 0;
}
.chefs-section{
    width: 100%;    
}
.chefs-content-wrapper{
    background: #EAEAEA;
    text-align: center;
    padding: 1.5em;
}
.chefs-content-wrapper h2{
    font-size: 2em;
}
#chef-list{
    width: 100%;
    list-style: none;
    margin-top: 1.5em;
}
#chef-list{
    width: 100%;
}
.chef-1{
    margin-bottom: 50px;
}
.chef-image{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border-radius: 200px;
    overflow: hidden;
}
.chef-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.chef-content-text{
    padding: .5em 0;
}
.chef-content-text h3{
    font-size: 22px;
}
#chef-list li span{
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    transition: 1.3s;
}
#chef-list span:hover{
    color: #F3B82A;
}
/*-- contact --*/
.contact{
    width: 100%;
}
.contact-wrapper{
    width: 100%;
    background: #F3B82A;
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.contact-wrapper *{
    margin: 5px 0;
}
.contact-wrapper h2{
    font-size: 2em;
    font-weight: 700;
}
.accordion-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.accordion-wrapper div{
    width: 70%;
    border-bottom: 2px solid black;
}
.accordion-wrapper span{
    font-size: 10px;
    cursor: pointer;
}
.contact-number{
    font-size: 19px;
    font-weight: 700;
    color: white;
    font-family: 'Fredoka One';
}
.contact-wrapper input{
    display: inline-block;
    width: 70%;
    padding: 1em;
    border-radius: 10px;
    border: none;
}
.contact-wrapper input[type="text"]::placeholder{
    text-align: right;
}
.contact-wrapper button{
    padding: .3em 1em;
    border: 5px solid #A1BF2D;
    background: #A1BF2D;
    font-weight: 700;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
}
.contact-wrapper button:hover{
    background: none;
    color: black;
    border: 5px solid #A1BF2D;
}
.contact-burger-background{
    display: none;
}
/*-- footer --*/
.footer{
    width: 100%;
    background: #2c2c2c;
    color: white;
    text-align: center;
    padding: 1em;
    font-weight: 700;
}
.footer span{
    cursor: pointer;    
}
@media(min-width:1100px){
    header{
        height: 700px;
    }
    nav{
        display: grid;
        align-items: stretch;
        max-width: 1320px;
        height: 100px;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
    }
    .mobile-menu{
        display: none;
    }
    nav h1{
        grid-column: 2/4;
        display: flex;
        align-items: center;
    }
    nav ul{
        grid-column: 4/8;
        list-style: none;
        display: flex;
        align-items: center;
    }
    nav ul li{
        display: inline;
        padding-left: 1.2em;
        font-size: .90em;
        font-weight: 600;
        cursor: pointer;
    }
    .atf-btn{
        grid-column: 8/13;
        background: #f3b82a;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .atf-btn button{
        padding: .3em 1.5em;
        border: 5px solid white;
        font-weight: 600;
        border-radius: 5px;
        font-size: 20px;
    }
    .atf-btn-1{
        background: none;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }
    .atf-btn-1:hover{
        background: white;
        color: black;
    }
    .atf-btn-2{
        background-color: white;
        columns: black;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    .atf-btn-2:hover{
        background: none;
        color: white;
    }
    .atf-image{
        left: -200px;
    }
}
@media(min-width: 900px){
    header{
        position: relative;
        height: 650px;
    }
    #atf{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .atf-content-text{
        padding: 0;
        width: 70%;
        grid-column: 2/8;
        align-self: center;
        animation-name: burgerText;
        animation-duration: 4s;
        position: relative;
    }
    .atf-content-image{
        grid-column: 8/13;
        background: #f3b82a;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
    .atf-image{
        width: 100%;
        height: auto;
        position: relative;
        left: -150px;
        animation-name: burger;
        animation-duration: 4s;
    }
    .atf-image img{
        width: 100%;
        object-fit: cover;
    }

    @keyframes burgerText{
        from{
            left: -300px;
            opacity: 0;
        }
        to{
            left: 0;
            opacity: 1;
        }
    }
    @keyframes burger{
        from{
            top: -410px;
            opacity: 0;
        }
        to{
            top: 0;
            opacity: 1;
        }
    }    
    #hot-section{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: absolute;
        bottom: -100px;
        z-index: 2;
    }
    .temporary-hot-menu-background{
        display: none;
    }
    .hide-hot-menu-item{
        display: block;    
    }
    .hot-section-content{
        width: 100%;
        background: white;
        padding: .5em 1em 1.5em 1em;
        border-radius: 20px;
        grid-column: 2/12;
        text-align: center;
        box-shadow: 0 5px 10px black;
    }
    .hot-section-title{
        position: relative;
        top: -20px;
        background: #f3b82a;
        font-weight: 500;
        padding: .2em 2em;
        border-radius: 20px;
    }
    .hot-section-menu{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    .hot-section-menu li{
        flex-basis: 18%;
        margin: 0;
    }
    #fast-delivery{
        height: 450px;
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
    /*----------Fast Deliverly と　Call Now ----*/
    #fast-delivery > div:nth-child(1){
        grid-column: 1/7;
    }
    #fast-delivery > div:nth-child(2){
        grid-column: 7/13;
        display: flex;
        align-items: center;
    }
    .fast-delivery-image-wrapper{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .fast-delivery-image-wrapper img{
        min-width: 80%;
    }
    .fast-delivery-text-content{
        width: 100%;
        padding: 1em;
        background: #ffffff80;
        position: relative ;
        top: 50px;
        border-radius: 20px 0 0 20px;
        padding-left: 2em;
    }
    .fast-delivery-text-content *:not(:first-child){
        margin-top: 10px;
    }
    .fast-delivery-text-content h2{
        font-size: 2em;
        font-weight: 500;
    }
    .fast-delivery-text-content button{
        padding: .3em 1em;
        border: 5px solid #a1bf2d;
        background: #A1BF2d;
        font-weight: 700;
        border-radius: 7px;
        font-size: 20px;
        color: white;
        display: inline-block;
    }
    .oderk-menu{
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        background: gray;
    }
    .oderk-menu > div{
        padding: 2.5em 1.5em 0.7em 0.7em;
    }
    .oderk-menu h3{
        font-weight: 500;
        font-size: 27px;
    }
    .oderk-menu-calories{
        font-family: 'Brandon Grotesque';        
    }
    .oderk-menu-price{
        font-family: 'Fredoka One';
        font-weight: 500;
        font-size: 20px;
    }
    .oderk-menu button{
        padding: .3em 1em;
        border: 5px solid #a1bf2d;
        background: #a1bf2d;
        font-weight: 700;
        border-radius: 7px;
        font-size: 20px;
        color: white;
        display: inline-block;
    }
    /*--- menu 1 ---*/
        .menu-item-1{
            background: #FFea6a url('images/burger1\ copy.jpg');
            background-size: 60%;
            background-position-x: left;
            background-position-y: 80%;
            background-repeat: no-repeat;
            grid-column: 1/6;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-top: 2em;
        }
        .menu-item-1-image{
            display: none;
        }
        .menu-item-1-image img{
            width: 100%;
        }
        .menu-item-1-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            flex: 1;
        }
        .menu-item-1-content *{
            margin: 3px 0 3px 0;
        }
         /*--- menu 2 ---*/
        .menu-item-2{
            background: #f3b82a url('images/hot-menu4.jpg');
            background-size: 50%;
            background-position-x: 5%;
            background-position-y: 70%;
            background-repeat: no-repeat;
            grid-column: 6/13;
            position: relative;
            display: flex;
        }
        .menu-item-2-image{
            display: none;
        }
        .menu-item-2-image img{
            width: 100%;            
        }
        .menu-item-2-content{
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: flex-end;
            padding-left: 1em;
            flex-basis: 80%;
        }
        .menu-item-2-content{
            margin: 3px 0 3px 0;
        }
         /*--- menu 3 ---*/
        .menu-item-3{
            background: #c6d736 url('images/hot-menu3.jpg');
            background-size: 50%;
            background-position-x: 90%;
            background-position-y: 70%;
            background-repeat: no-repeat;
            grid-column: 1/5;
            position: relative;
            display: flex;
        }
        .menu-item-3-image{
            display: none;
        }
        .menu-item-3-image img{
            width: 100%;
        }
        .menu-item-3-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 1em;
            order: 1;
        }
        .menu-item-3-content *{
            margin: 3px 0 3px 0;
        }
        /*--- menu 4---*/
        .menu-item-4{
            background: #ff803c url('images/orangejuice.jpg');
            background-size: 50%;
            background-position-x: 10%;
            background-position-y: 70%;
            background-repeat: no-repeat;
            grid-column: 5/8;
        }
        .menu-item-5-image{
            display: none;
        }
        .menu-item-4-image img{
            width: 100%;
        }
        .menu-item-4-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-self: flex-end;
            padding-left: 1em;
            order: 1;
        }
        .menu-item-4-content *{
            margin: 3px 0 3px 0;
        }
        /*--- menu 5 ---*/
        .menu-item-5{
            background: #b9c763 url('images/hot-menu5.jpg');
            background-size: 55%;
            background-position-x: 20%;
            background-position-y: 70%;
            background-repeat: no-repeat;
            grid-column: 8/13;
        }
        .menu-item-5-image{
            display: none;        
        }
        .menu-item-5-image img{
            width: 100%;            
        }
        .menu-item-5-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding-left: 1em;
            order: 1;
        }
        .menu-item-5-content *{
            margin: 3px 0 3px 0 3px;
        }
        /*-- meet the chefs --*/
        .chefs-section{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            background: #eaeaea;
            padding: 1.5em 0;
        }
        .chefs-content-wrapper{
            grid-column: 2/12;
            padding: 0;
        }
        #chef-list{
            display: flex;
            justify-content: space-between;
        }
        #chef-list li{
            flex-basis: 30%;
        }
        .chef-images{
            width: 100%;
            height: auto;
        }
    }
    .cheg-1, .chef-2{
        margin-bottom: 0;
    }